<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PayTM Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form th:action="@{/change_password}" method="post">
                    <fieldset style="text-align: center;">
                        <h1>Change Password</h1>
    
                        <div th:if="${#strings.equals(action, 'error')}">
                            <div class="alert alert-danger">
                                Invalid password.
                            </div>
                        </div>
                        <div th:if="${#strings.equals(action, 'success')}">
                            <div class="alert alert-info">
                                Password successfully changed.
                            </div>
                        </div>
                        <div th:if="${#strings.equals(action, 'new_password_mismatch')}">
                            <div class="alert alert-danger">
                                New password and confirm new password are different.
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" name="oldPassword" id="oldPassword" class="form-control input-lg"
                                   placeholder="Old Password" required="true"/>
                        </div>
                        
                        <div class="form-group">
                            <input type="password" name="newPassword" id="newPassword" class="form-control input-lg"
                                   placeholder="New Password" required="true"/>
                        </div>
                        
                        <div class="form-group">
                            <input type="password" name="confirmNewPassword" id="confirmNewPassword" class="form-control input-lg"
                                   placeholder="Confirm New Password" required="true"/>
                        </div>
    
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Change"/>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>
</html>